.sidebar {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 250px;
	height: 100%;
	background: #333;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

.sidebar.open {
	transform: translateX(0);
}

.sidebar.closed {
	transform: translateX(-100%);
}

.sidebar nav a {
	display: block;
	color: white;
	padding: 10px;
	text-decoration: none;
}

.toggleButton {
	/* position: absolute; */
	align-self: center;
	left: 10px;
	top: 10px;
	height: 20px;
	width: 98%;
	padding: 0;
	background-color: rgb(57, 37, 83);
	margin-top: 10px;
	color: antiquewhite
}

.activeLink {
	text-decoration: underline !important;
	color: rgb(141, 115, 222) !important;
}
